@font-face {
    font-family: "AutoDisplay";
    src: url(data:font/woff2;base64,d09GMgABAAAAAIVoABIAAAAAt2gAAMT4AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGmYDGmYcAIMTAGcECyXCYBEEFgE2AiQDJAAgBwUUDxAEAgAAGhAIE4YJHgYgBAYBIgADAgECAAEBAQABAiCpBl5r…TRIMMED…==)
    format("woff2");
    font-weight: 600;
    font-style: normal;
}

body {
    background: #0d0d0d;
    color: #e4e4e4;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.page-transition {
    opacity: 0;
    animation: fadeIn 0.6s forwards ease;
}

.fade-out {
    animation: fadeOut 0.4s forwards ease;
}

.navbar {
    background: #0e0e0e;
}
.navbar-brand span {
    font-family: "AutoDisplay";
    font-size: 1.4rem;
}